{% load bootstrap4 %}
{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    {% endblock %}
</head>

<body>

    <!-- authentication block form -->
    {% block auth %}
    {% endblock %}

    <!-- content -->
    {% block content %}
    {% endblock %}



    <!-- footer -->
    {% block footer %}
    {% endblock %}

</body>

</html>