{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block auth %}
<div class="container">


  <img id="prof-img" src="{{ user.profile.image.url }}">

  <section>
    <div class="info">
      <h2>{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>


    <div class="card">
      <div class="card-body">
        <form method="POST" enctype="multipart/form-data" id="form">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4 text-center">Profile Info</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
            
            <button id="update-btn" type="submit">Update</button>
          </div>
        </form>
      </div>
    </div>

  </section>


</div>
{% endblock auth %}