{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="card" id="sign-form">
    <div id="reg-section">
        <div class="signup">
            <div class="row">
                <div class="col-6">
                    <img src="{% static "imapp/phone.jpg" %}" id="phone" alt="My image">
                </div>
                <div class="col-6" id="signup-form">
                    <div class="card" id="form-card">
                        <div class="card-body" id="card-form">
                            <div style="padding-right: 6%; padding-left: 6%;">
                                <img src="{% static "imapp/insta.jpg" %}" id="insta" alt="insta">
                                <h5 class="text-muted text-center"
                                    style="display: block; padding-right: 2%; padding-left: 2%; color: rgb(138, 136, 136) !important; font-size: 18px; font-weight: bold;">
                                    Sign up to see photos and videos from your friends.</h5>


                                <form method="post">
                                    <div id="reg-form">
                                        {% csrf_token %}
                                        {% for field in form %}
                                        <p>
                                            {{ field.label_tag }}
                                            <div id="field">
                                                {{ field }}
                                            </div>
                                            {% if field.help_text %}
                                            <!-- <small style="color: grey">{{ field.help_text }}</small> -->
                                            {% endif %}
                                            {% for error in field.errors %}
                                            <p style="color: red">{{ error }}</p>
                                            {% endfor %}
                                        </p>
                                        {% endfor %}
                                    </div>
                                    <button class="btn btn-outline-" id="sigup-btn" type="submit">Sign up</button>
                                </form>


                                <div class="text-center"
                                    style="padding-left: 3%; padding-right: 3%; color: rgb(158, 156, 156);">
                                    <span style="font-size: 14.9px;">
                                        By signing up, you agree to our </span> <span
                                        style=" color: rgb(158, 156, 156); font-size: 15.5px;"> <b> Terms Data Policy
                                            and
                                            Cookies Policy </b>.</span>
                                </div>

                                <small class="text-center">Already have an account? <a href="{% url 'login' %}">Sign up here</a></small>

                            </div>
                        </div>


                    </div>

                    <div style="padding-top: 25px !important;">
                        <p class="text-center" style="font-size: 15px;" id="get"></p>
                    </div>
                    <div id="market">
                        <img src="" id="markett" alt=""></a>
                        <a href="https://play.google.com/store/apps/details?id=com.instagram.android"><img
                                src="" id="markett" alt=""></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock content %}