{% extends 'insta/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block post %}
{{ block.super }}

<section id="post-hub">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
            <div class="card">

                <div>
                    <!-- user who posted his/her profile pic and name will appear here -->
                    <div id="prof-ring">
                        <img src="https://www.trzcacak.rs/myfile/detail/214-2143533_default-avatar-comments-default-avatar-icon-png.png"
                            id="prof-circle" alt="">
                    </div>
                    <p id="mock-name">{{post.author}}</p>

                    <!-- MODAL -->
                    <a id="tmodal" type="button" data-toggle="modal" data-target="#exampleModalCenter">
                        <div id="dd">
                            <div id="da"></div>
                            <div id="db"></div>
                            <div id="dc"></div>
                        </div>
                    </a>


                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- image as link -->
                <img src="{{ post.cover.url }}" class="card-img-top img-responsive" alt="Image" data-toggle="modal"
                    data-target="#extraModal{{post.id}}" style="cursor: pointer !important;">



                <div id="link-icon">
                    <form action="{%url 'like'%}" method="POST">
                        {%csrf_token%}
                        <button type="submit" name="post.id" value="{{post.id}}"><a href=""><img
                                    src="{% static "imapp/1.jpg" %}" id="link" alt="image"></a></button>
                    </form>
                    {{post.liked.count}}

                    <a href="{%url 'comment' post.id %}" class="btn" style="font-size: 15px">Write comment</a>
                    <a href="{%url 'view' post.id%}" class="btn"><i style="font-size: 15px">view comments</i></a>





                    <a href=""><img src="{% static "imapp/2.jpg" %}" id="link" alt="image"></a>
                    <a href=""><img src="{% static "imapp/3.jpg" %}" id="link" alt="image"></a>
                    <a href=""><img src="{% static "imapp/4.jpg" %}" id="llink" alt="image"></a>
                </div>
                <div id="maneno-card">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <small class="card-text text-muted">
                        {{ post.date_posted|date:"F d, Y" }}</small>

                    <!-- <a href="{% url 'post-detail' post.id %}" id="more-btn">More</a> -->
                </div>
            </div>

            {% endfor %}
        </div>

        <div class="col-md-4">
            <!-- user credential -->
            <img src="{{ user.profile.image.url }}" id="user-img" alt="image">
            <div id="user">
                <p>{{ user.username }}</p>
                <p class="text-secondary" id="usermail">{{ user.email }}</p>
            </div>

            <!-- stories -->

            <img src="{% static "imapp/stories.jpg" %}" id="link" alt="image">

        </div>
    </div>

</section>




{% for post in posts %}
<!-- Modal -->
<div class="modal fade" id="extraModal{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <!-- modal-contet-body -->
                    <div class="card">
                        <img src="{{ post.cover.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">{{ post.content }}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endfor %}

{% endblock %}